<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="/view-employee
        ">Employee CRUD</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a routerLink="/view-employee" routerLinkActive="active">View Employee</a></li>
            <li><a routerLink="/add-employee" routerLinkActive="active">Add Employee</a></li>
        </ul>
    </div>
</nav>